@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$body-bg: $gray-900;
$body-color: $gray-100;

$list-group-bg: $gray-900;
$list-group-border-color: $gray-600;
